text {
	color: blue !important;
}

style {
	display: none !important;
}

title-font {
	font-family: verdana !important;
	color: red !important;
}

title-color {
	color: tomato !important;
	font-family: georgia !important;
}
